/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2a9d8f;
}

h1 {
  font-size: 40px;
}

h2 {
  border-radius: 20px;
  background-color: #c7bab2;
}

/* Header styles */
header {
  background-color: #2a9d8f;
  color: #e6e1c5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header img {
  margin: 5px;
  height: 100px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Footer styles */

footer {
  background-color: #2a9d8f;
  color: #fff;
  height: 100px;
  text-align: left;
  padding: 10px;
}

.section-product > h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Section styles */
.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 350px 20px;
  background-image: url(./assets/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
}
.effective {
  position: absolute;
  top: 10px;
  left: 33%;
  color: #854686;
}

.choice {
  position: absolute;
  top: 20%;
  left: 40%;
}

.section1 p {
  position: absolute;
  font-size: 33px;
  font-family: "Macondo";
  font-size: 64px;
  line-height: 78px;
  background-color: #a15aa2;
  color: #113f3a;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section1 {
  max-height: 50%;
}
.section-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
  width: 100%;
  display: inline-block;
  background-color: #a8dadc;
}
li.search {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

li.search form {
  display: flex;
  align-items: center;
  justify-content: center;
}

li.search input[type="text"] {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 200px;
  margin-right: 5px;
}

li.search button[type="submit"],
.buy,
.send {
  background-color: #3d3838;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

li.search input[type="text"]::placeholder {
  color: #999;
}

#man {
  background-color: #d7e0cb;
}

#sport {
  background-color: #d7e0cb;
}

.card {
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  width: calc(33.33% - 20px);
  height: 300px;
  margin: 5px;
  padding: 10px;
  background-color: wh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  column-count: 2;
  column-gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h2 {
  margin-top: 0;
}

.card img {
  width: 240px;
  height: 240px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p {
  margin: 10px 0;
}

#contact {
  font-size: 20px;
  text-align: left;
  position: absolute;
  background-color: #a8dadc;
  color: #3d3838;
  width: 30%;
  padding: 30px;
  margin-left: 600px;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#copy {
  float: right;
}

.center {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  li.search input[type="text"] {
    width: 100%;
  }
}
